// user-defined colors
$bodyBackground: #fdfdfd;
$fontColor: #212529;
$codeBackground: #f5f2f0;
$headingColor: #111;
$borderColor: #ddd;
$underlineColor: #0366d6;

@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1) brightness(.9);
    &.ioda { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: $bodyBackground; }

html { height: 100%; }

body {
  color: $fontColor;
  font-family: monospace, Menlo;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h1 { color: $headingColor }

h2, h3, h4, h5, h6 { 
  margin-top: 3rem; 
  color: $headingColor;
}

h2 { border-bottom: 1px solid $borderColor; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { 
  margin: 0.4rem 0;

  p { margin: 0; }
}

a { 
  color: $headingColor;
  text-decoration: underline $underlineColor; 
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: 1px solid $borderColor;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  background: $codeBackground;
  border: 1px solid $borderColor;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border-left: 0.4rem solid $borderColor;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}