:root {
  --bodyBackground: initial;
  --darkBodyBackground: #191919;
  --fontColor: #2a2a2a;
  --codeBackground: #f1efee;
  --quoteColor: #68615e;
  --borderColor: #ddd;
  --anchorColor: #3257d1;
  --siteTitleSize: 32px;
  --steps: 10;
  --duration: 2.5s;
  --cursorSize: 10px;
}

@mixin dark-appearance {
  // safari uses the background-color of body tag for the theme-color
  --bodyBackground: var(--darkBodyBackground);
  filter: invert(.9);
  img {
    filter: invert(1);
    &.ioda { filter: invert(0); }
  }
}

.utterances {
  margin-top: 100px;
}

body[theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}

@media screen and (max-width: 600px) {
  div pre code {
    overflow-x: auto;
    white-space: pre;
  }
}

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: var(--bodyBackground); }

html { height: 100%; }

body {
  color: var(--fontColor);
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  line-height: 1.75;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

.post-categories { font-size: 18px; }

a { color: var(--anchorColor); }

p { margin-bottom: 1.5rem; }

.menu, .page-layout {
  text-align: center;
  ul {
    list-style: none;
    padding-left: 0; 
    li {
      display: flex;
      flex-direction: column;
    }
  }
}

header { text-align: center; }

.toggler { text-decoration: none; }

.func {
  display: flex;
  justify-content: space-between;
}

.w {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: 1px solid var(--borderColor);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  &.hljs {
    color: var(--fontColor);
  }
}

pre code { white-space: pre-wrap; }

code.language-plaintext {
  border-radius: 5px;
  padding: 0 0.3rem;
  background: var(--codeBackground);
}

blockquote {
  font-style: italic;
  border-left: 0.3rem solid var(--borderColor);
  padding-left: 1rem;
  margin: 0;
  color: var(--quoteColor);

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.go {
  position: relative;
  display: inline-block;
  font-size: var(--siteTitleSize);
  line-height: .8;
}

.go::before {
  content: '';
  width: 100%;
  height: var(--siteTitleSize);
  z-index: 1;
  position: absolute;
  background: linear-gradient(#fff, #fff) no-repeat top right;
  background-size: 0 100%;
  animation: showText var(--duration) steps(var(--steps)) forwards;
}

.go::after {
  content: '';
  width: var(--cursorSize);
  height: var(--siteTitleSize);
  background-color: black;
  z-index: 2;
  position: absolute;
  animation: moveCursor var(--duration) steps(var(--steps)) forwards,
    blink 1s var(--duration) step-end infinite;
}

@keyframes blink {
  0% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

@keyframes moveCursor {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes showText {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 0% 100%;
  }
}