:root {
  --bodyBackground: #fdfdfd;
  --fontColor: #212529;
  --codeBackground: #f5f2f0;
  --headingColor: #111;
  --borderColor: #ddd;
  --underlineColor: #0366d6;
}

/*
Q: why change --bodyBackground manually?
A: safari uses the background-color of body tag for the theme-color
Q: won't it be inverted? 
A: no, it won't. see: https://stackoverflow.com/a/61265706
*/
@mixin dark-appearance {
  --bodyBackground: #020202;
  filter: invert(1);
  img {
    filter: invert(1) brightness(.9);
    &.ioda { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}

html { height: 100%; }

body {
  background: var(--bodyBackground);
  color: var(--fontColor);
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h1 { color: var(--headingColor) }

h2, h3, h4, h5, h6 { 
  margin-top: 3rem; 
  color: var(--headingColor);
}

h2 { border-bottom: 1px solid var(--borderColor); }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { 
  margin: 0.4rem 0;

  p { margin: 0; }
}

a { 
  color: var(--headingColor);
  text-decoration-color: var(--underlineColor); 
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: 1px solid var(--borderColor);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  font-family: Courier, monospace;
  background: var(--codeBackground);
  border: 1px solid var(--borderColor);
  border-radius: 0.4rem;
  padding: 0 0.4rem;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border-left: 0.4rem solid var(--borderColor);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}