---
layout: default
permalink: /archive/
title: archive
---

<div class="func">
  {%-include back_link.html-%}
  {%-include toggler.html-%}
</div>

<h1>{{ page.title }}</h1>

{% if page.which_category %}
  {%-include post_list.html category=page.which_category-%}
{% else %}

{% for post in site.posts %}

{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}

{% if forloop.first %}
<h2>{{ year }}</h2>
<ul>
  {% elsif year != prev_year %}
</ul>
<h2>{{ year }}</h2>
<ul>
  {% endif %}

  <li>
    <time>{{ post.date | date: site.theme_config.date_format }}</time>
    <a href="{{ post.url | relative_url }}">
      <!-- {% for category in post.categories %}[{{category}}]{% unless forloop.last %}{% endunless %}{% endfor %} -->
      {{ post.title | downcase }}
    </a>

  {% if forloop.last %}
</ul>
{% endif %}

{% capture prev_year %}{{ year }}{% endcapture %}

{% endfor %}

{% endif %}